<div>
  <span style="font-weight: bold">Ma: {{MAKHACHHANG}} </span>
  <br />
  <span style="font-weight: bold">TenKH: {{TENKHACHHANG}}</span>
  <br />
  <span style="font-weight: bold">LoaiKhach: {{LOAIKHACH}}</span>
  <br />
  <span style="font-weight: bold">SDT: {{SODIENTHOAI}}</span>
  <br />
  <span style="font-weight: bold">CMND: {{CMND}}</span>
  <br />
  <span style="font-weight: bold">DiaChi: {{DIACHI}}</span>
</div>