<link rel="stylesheet" href="../public/css/style_detailRoomInfo.css">

<div class="modal fade modal-xl" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalThemLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-lg-10 border p-3 main-section bg-white">
                <div class="row m-0 product-detail" id="modalInfoRoom">

                    <div class="col-lg-5 left-side-product-box pb-3">
                        <img src="" class="" id="modalImage">
                    </div>

                    <div class="col-lg-7">
                        <div class="right-side-pro-detail border p-3 m-0">
                            <div class="m-0 pl-3 pt-0 pb-3 text-center h2" id="modalMaPhong">
                            </div>
                            <div class="row">
                                <div class="col-lg-12 pt-2">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Loại phòng: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalLoaiPhong"> {{itemRoom.LOAIPHONG}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Tầng: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalTang"> {{itemRoom.TANG}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Số giường: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalSoGiuong"> {{itemRoom.SOGIUONG}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Số khách tối đa: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalSoKhach"> {{itemRoom.SOKHACHTOIDA}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Tình trạng: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalTinhTrang"> {{itemRoom.TINHTRANG}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Mô tả: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalMoTa"> {{itemRoom.MOTA}} </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="m-0 p-0 bold-text">Ghi chú: </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="m-0 quantity-pro" id="modalGhiChu"> {{itemRoom.GHICHU}} </p>
                                        </div>
                                    </div>
                                </div>
                                <!--
                        <div class="col-lg-12 amount-field">
                            <p class="bold-text">Số lượng: </p>
                            <div class="col-lg-6">
                                <input type="number" id="quantity" class="form-control text-center w-100" value="1">
                            </div>
                        </div>
                        -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
