<div class="modal fade modal-xl" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalChinhSua"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content col-lg-10 border p-3 main-section bg-white">
            <div class="card-body import-good-main-panel">

                <form class="row g-3" action="" method="post">
                    <div class="col-md-6">
                        <label for="typeRoom" class="form-label">Loại phòng</label>
                        <select name="typeRoom" class="form-select" id="typeRoom" value="DONVIP">
                            <option value="{{itemRoom.LOAIPHONG}}" selected>Chọn loại phòng</option>
                            {{#each listTypeRoom}}
                            <option value="{{this.MALOAI}}">{{this.TENLOAI}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="imgRoom" class="form-label">Hình ảnh</label>
                        <input type="file" name="imgRoom" class="form-control amount-field" id="imgRoom" value="{{itemRoom.IMAGE}}" />
                    </div>

                    <div class="col-md-3">
                        <label for="maxPeople" class="form-label">Số khách tối đa</label>
                        <input type="number" name="maxPeople" class="form-control price-field" id="maxPeople" value="{{itemRoom.SOKHACHTOIDA}}"
                            required />
                    </div>
                    <div class="col-md-3">
                        <label for="floor" class="form-label">Tầng</label>
                        <input type="number" name="floor" class="form-control price-field" id="floor" value="{{itemRoom.TANG}}"
                            required />
                    </div>
                    <div class="col-md-3">
                        <label for="numBed" class="form-label">Số giường</label>
                        <input type="number" name="numBed" class="form-control price-field" id="numBed" value="{{itemRoom.SOGIUONG}}"
                            required />
                    </div>
                    <div class="col-md-3">
                        <label for="areaRoom" class="form-label">Diện tích phòng</label>
                        <input type="text" name="areaRoom" class="form-control price-field" id="areaRoom" value="{{itemRoom.DIENTICH}}"
                            required />
                    </div>

                    <div class="col-md-6">
                        <label for="description" class="form-label">Mô tả</label>
                        <textarea name="description" class="form-control amount-field" id="description" value=""
                            style="height: 100px">{{itemRoom.MOTA}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="remark" class="form-label">Ghi chú</label>
                        <textarea name="remark" class="form-control amount-field" id="remark" value=""
                            style="height: 100px">{{itemRoom.GHICHU}}</textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Cập nhật phòng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>