<div class="col align-items-center justify-content-center">
  <div>Ma Phong: BA502</div>
  <div>Loai Phong: C</div>
  <div>Tang: 5</div>
  <div>So Giuong: 2</div>
  <div>So Khach Toi Da: 3</div>
  <div>Mo Ta: Some thing</div>
</div>
  {{!-- 
  <div>Ma Phong: {{MAPHONG}}</div>
  <div>Loai Phong: {{LOAIPHONG}}</div>
  <div>Tang: {{TANG}}</div>
  <div>So Giuong: {{SOGIUONG}}</div>
  <div>So Khach Toi Da: {{SOKHACHTOIDA}}</div>
  <div>Mo Ta: {{MAPHONG}}</div> 
  --}}