<link rel="stylesheet" href="../public/css/style_listRoomInfo.css">
<link rel="stylesheet" href="../public/css/style_detailRoomInfo.css">
<link rel="stylesheet" href="../public/css/style_announcement.css">

<div class="pop-up hidden">
    <div class="popup-container">
        <div class="notification">
            <div class="noti-header">
                <i class="fas fa-window-close"></i>
            </div>
            <div class="noti-content-container">
                <div class="noti-content">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="m-0 pl-3 pt-0 pb-3 text-center h2">
    THÔNG TIN CHI TIẾT PHÒNG
</div>

<div class="col-lg-10 border p-3 main-section bg-white">
    <div class="row m-0 room-detail" id="{{itemRoom.MAPHONG}}">

        <div class="col-lg-5 left-side-product-box pb-3">
            <img src="public/image/{{itemRoom.IMAGE}}" class="p-3">
        </div>

        <div class="col-lg-7">
            <div class="right-side-pro-detail border p-3 m-0">
                <div class="m-0 pl-3 pt-0 pb-3 text-center h2">
                    PHÒNG {{itemRoom.MAPHONG}}
                </div>
                <div class="row">
                    <div class="col-lg-12 pt-2">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Loại phòng: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.TENLOAI}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Đơn giá: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{formatCurrency itemRoom.DONGIA}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Tầng: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.TANG}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Số giường: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.SOGIUONG}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Số khách tối đa: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.SOKHACHTOIDA}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Tình trạng: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.TINHTRANG}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Mô tả: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.MOTA}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="m-0 p-0 bold-text">Ghi chú: </p>
                            </div>
                            <div class="col-lg-9">
                                <p class="m-0 quantity-pro"> {{itemRoom.GHICHU}} </p>
                            </div>
                        </div>

                        <hr class="m-0 pt-2 mt-2">
                    </div>

                    <div class="col-lg-12 mt-3">
                        <div class="row">
                            <div class="col-lg-6 pb-2">
                                <a class="btn w-100 btn-primary" id="add-to-cart" data-bs-toggle="modal"
                                    data-bs-target="#Modal">Cập nhật phòng</a>
                            </div>
                            <div class="col-lg-6">
                                <button id="delete-room" class="btn w-100" style="background-color: red;">Xóa
                                    phòng</button>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{{> modalUpdateInfoRoom}}

<script src="../public/script/script_announcement.js"></script>
<script src="../public/script/script_detailRoomInfo.js"></script>